<div class="container px-6 mx-auto w-full mt-24">
  <div
    class="flex pb-24 w-full justify-center"
    data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500"
    data-aos-duration="2000"
  >
    <h1
      class="text-4xl md:text-6xl lg:text-6xl xl:text-6xl 2xl:text-6xl font-semibold text-[#474747] pr-2"
    >
      PROJECTS
    </h1>
    <div class="w-10 h-2.5 bg-[#5DACBB] mt-10"></div>
    <div class="w-3 h-2.5 bg-[#474747] mt-8"></div>
  </div>

  <div
    class="flex pb-24 flex-wrap-reverse 2xl:flex-nowrap xl:flex-nowrap lg:flex-nowrap md:flex-nowrap overflow-hidden"
  >
    <div
      data-aos="fade-right"
      data-aos-offset="300"
      data-aos-easing="ease-in-sine"
      data-aos-duration="2000"
    >
      <h1 class="text-4xl font-semibold text-[#5DACBB] mb-7">Hunting Mart</h1>
      <p class="text-2xl font-normal text-[#474747] mb-7">
        Hunting Mart is a ecommerce site in which people Browse & discover
        millions of products. Read customer reviews and find best sellers. We
        ship to over 100 cities destinations, right to your doorstep.
      </p>
      <div class="space-y-10">
        <div class="space-x-5 flex">
          <img src="../../../assets/Images/coding_black.png" />
          <div class="text-xl text-[#474747] font-semibold">
            WEB <br />
            DEVELOPMENT
          </div>
        </div>
        <div class="space-x-5 flex">
          <img src="../../../assets/Images/QA_black.png" />
          <div class="text-xl text-[#474747] font-semibold">
            QA & <br />
            TESTING
          </div>
        </div>
        <div class="space-x-5 flex">
          <img src="../../../assets/Images/devops_black.png" />
          <div class="text-xl text-[#474747] font-semibold">DEVOPS</div>
        </div>
      </div>
    </div>
    <div
      class="w-full"
      data-aos="fade-left"
      data-aos-offset="300"
      data-aos-easing="ease-in-sine"
      data-aos-duration="2000"
    >
      <img src="../../../assets/Images/project4.png" class="w-full" />
    </div>
  </div>
  <div
    class="flex pb-24 flex-wrap 2xl:flex-nowrap xl:flex-nowrap lg:flex-nowrap md:flex-nowrap overflow-hidden"
  >
    <div
      class="w-full"
      data-aos="fade-right"
      data-aos-offset="300"
      data-aos-easing="ease-in-sine"
      data-aos-duration="2000"
    >
      <img src="../../../assets/Images/project3.png" class="w-full" />
    </div>
    <div
      data-aos="fade-left"
      data-aos-offset="300"
      data-aos-easing="ease-in-sine"
      data-aos-duration="2000"
    >
      <h1 class="text-4xl font-semibold text-[#5DACBB] mb-7">
        Mpower Building
      </h1>
      <p class="text-2xl font-normal text-[#474747] mb-7">
        The MPOWER Building is a Stunning and Valued commercial development
        centrally located on the border Mississauga and Oakville, the dynamic
        four-storey glass tower.
      </p>
      <div class="space-y-10">
        <div class="space-x-5 flex">
          <img src="../../../assets/Images/coding_black.png" />
          <div class="text-xl text-[#474747] font-semibold">
            WEB <br />
            DEVELOPMENT
          </div>
        </div>
        <div class="space-x-5 flex">
          <img src="../../../assets/Images/QA_black.png" />
          <div class="text-xl text-[#474747] font-semibold">
            QA & <br />
            TESTING
          </div>
        </div>
        <div class="space-x-5 flex">
          <img src="../../../assets/Images/devops_black.png" />
          <div class="text-xl text-[#474747] font-semibold">DEVOPS</div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex pb-24 flex-wrap-reverse 2xl:flex-nowrap xl:flex-nowrap lg:flex-nowrap md:flex-nowrap overflow-hidden"
  >
    <div
      data-aos="fade-right"
      data-aos-offset="300"
      data-aos-easing="ease-in-sine"
      data-aos-duration="2000"
    >
      <h1 class="text-4xl font-semibold text-[#5DACBB] mb-7">Maktabq</h1>
      <p class="text-2xl font-normal text-[#474747] mb-7">
        Maqtabq is an application for office booking and multiple businesses
        management
      </p>
      <div class="space-y-10">
        <div class="space-x-5 flex">
          <img src="../../../assets/Images/coding_black.png" />
          <div class="text-xl text-[#474747] font-semibold">
            WEB <br />
            DEVELOPMENT
          </div>
        </div>
        <div class="space-x-5 flex">
          <img src="../../../assets/Images/QA_black.png" />
          <div class="text-xl text-[#474747] font-semibold">
            QA & <br />
            TESTING
          </div>
        </div>
        <div class="space-x-5 flex">
          <img src="../../../assets/Images/devops_black.png" />
          <div class="text-xl text-[#474747] font-semibold">DEVOPS</div>
        </div>
      </div>
    </div>
    <div
      class="w-full"
      data-aos="fade-left"
      data-aos-offset="300"
      data-aos-easing="ease-in-sine"
      data-aos-duration="2000"
    >
      <img src="../../../assets/Images/project2.png" class="w-full" />
    </div>
  </div>
</div>
<div class="border-b border-[#898989] mb-8"></div>
