<div class="bg-[#474747] w-full">
  <div class="container px-6 mx-auto w-full pt-24 overflow-hidden">
    <div
      class="flex flex-wrap pb-12 items-center lg:flex-nowrap xl:flex-nowrap 2xl:flex-nowrap md:flex-wrap"
    >
      <div
        class="mr-[0] md:mr-[15%] lg:mr-[15%] xl:mr-[15%] 2xl:mr-[15%]"
        data-aos="fade-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
        data-aos-duration="2000"
      >
        <div
          class="flex mb-8 items-center justify-center md:justify-start lg:justify-start xl:justify-start 2xl:justify-start flex-wrap lg:flex-nowrap md:flex-nowrap xl:flex-nowrap 2xl:flex-nowrap"
        >
          <div
            class="font-semibold text-[#FFFFFF] pr-2 text-4xl md:text-6xl lg:text-6xl xl:text-6xl 2xl:text-6xl"
          >
            CONTACT US
          </div>
          <div class="w-10 h-2.5 bg-[#5DACBB] mt-10"></div>
          <div class="w-3 h-2.5 bg-[#FFFFFF] mt-8"></div>
          <div
            class="bg-[#D9D9D9] mt-[28px] lg:mt-[0] xl:mt-[0] 2xl:mt-[0] md:mt-[0] w-[16rem] font-sans font-semibold text-[#474747] text-2xl left-60 ml-0 lg:ml-7 xl:ml-7 2xl:ml-7 md:ml-7"
          >
            LETS MAKE IT HAPPEN
          </div>
        </div>
        <div class="flex gap-3 pb-3.5">
          <input
            type="text"
            class="w-full h-14 text-2xl font-sans font-semibold text-[#474747] pl-5"
            placeholder="Name"
            required
          />
          <input
            type="email"
            class="w-full h-14 text-2xl font-sans font-semibold text-[#474747] pl-5"
            placeholder="Email"
            required
          />
        </div>
        <textarea
          name="w3review"
          class="text-2xl font-sans font-semibold text-[#474747] pl-5 pt-5 mb-3.5 w-full"
          rows="10"
          cols="100"
          placeholder="Message"
        ></textarea>
        <a
          href=""
          class="p-4 text-[#FFFFFF] border-solid border-[#FFFFFF] border text-xs font-semibold mb-7 hover:bg-[#5DACBB] hover:border-none hover:text-[#FFFFFF] btn_hover"
        >
          SUBMIT
        </a>
      </div>
      <div
        class="md:mt-10 mt-10"
        data-aos="fade-left"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine"
        data-aos-duration="2000"
        overflow-hidden
      >
        <h1 class="text-2xl text-[#FFFFFF] font-semibold pb-2">ADDRESS</h1>
        <p class="text-base text-[#D9D9D9] font-semibold"></p>
        <p class="text-base text-[#D9D9D9] font-semibold pb-2">
          Block-BWD, Phase 8-C DHA Lahore Cantt
        </p>
        <h1 class="text-2xl text-[#FFFFFF] font-semibold pb-2">EMAIL</h1>
        <p class="text-base text-[#D9D9D9] font-semibold">info@alpha.com</p>
        <h1 class="text-2xl text-[#FFFFFF] font-semibold pb-2">PHONE</h1>
        <p class="text-base text-[#D9D9D9] font-semibold">03316400764</p>
      </div>
    </div>
  </div>
  <div class="border-b border-[#FFFFFF] pt-24"></div>
  <div class="container px-6 mx-auto w-full">
    <div>
      <h1 class="text-[#D9D9D9] font-semibold p-3 text-xs">
        @ Techhome. ALL RIGHTS RESERVED
      </h1>
    </div>
  </div>
</div>
